.header {

    .navbar {

        ul {
            li {
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0 15px;
                }
            }
        }
    }
}