.header {

    .navbar {

        ul {
            li {
                
                a {
                    color: $white;
                    text-decoration: none;
                    padding: 18px 15px;

                    &:hover {
                        transition: .5s;
                        background-color: #777;
                    }
                }
            }
        }
    }
}